@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: iran;
  src: url("/public/fonts/woff/IRANSansX-Regular.woff");
}

body {
  padding: 0;
  margin: 0;
  font-family: iran;
  background-color: aliceblue;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
}

.hero {
  border-top-right-radius: 95px;
  border-bottom-right-radius: 96px;
  border-bottom-left-radius: 098px;
}

.hero2 {
  .-webkit-border-bottom-right-radius: 96px;
  -webkit-border-bottom-left-radius: 098px;
  -moz-border-radius-bottomright: 96px;
  -moz-border-radius-bottomleft: 098px;
  border-bottom-right-radius: 96px;
  border-bottom-left-radius: 098px;
}

.hero3 {
  -webkit-border-bottom-right-radius: 96px;
  -webkit-border-bottom-left-radius: 098px;
  -moz-border-radius-bottomright: 96px;
  -moz-border-radius-bottomleft: 098px;
  border-bottom-right-radius: 96px;
  border-bottom-left-radius: 098px;
}
